{% extends 'base.html' %}
{% block tittle %}Registar usuario{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
        <div class="contentBox">
            <main class="form-signin w-100 m-auto border border-white">
                <form method="POST">
                    <img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" style="max-width: 200px;">
                    <!-- message -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <br/>
                    {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible" role="alert"> 
                            <strong> {{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label=""></button>
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <h1 class="h3 mb-3 fw-normal" style="color: white;">Ingresa tus Datos</h1>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de Usuario" required>
                        <label for="username">Nombre de Usuario</label>
                    </div>

                    <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo Electronico" required>
                    <label for="email">Correo Electronico</label>
                    </div>

                    <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Contraseña" required>
                    <label for="floatingPassword">Contraseña</label>
                    </div>

                  <button class="w-100 btn btn-lg btn-primary" type="submit">Crear Cuenta</button>
                  <div class="mt-3 fw-normal logs">
                    <p>¿Ya tienes cuenta? <a href="/login">Iniciar Sesión</a></p>
                </div>
                </form>
            </main>
            <ul class="sci">
                <h4>&copy; Savage's IvanMY</h4>
                <li><a href="#"><img src="{{ url_for('static', filename='img/github.png') }}"></a></li>
                <li><a href="#"><img src="{{ url_for('static', filename='img/linkedin.png') }}"></a></li>
            </ul>
        </div>    
{% endblock %}
